<nav>
  <a href="/">
    <img src="/logo.png" id="logo" alt="My ubiquitous avatar"/>
  </a>
  <h2>I'm {{ site.data.theme.name }}</h2>
  <hr/>
  <p>
    Good, fast, cheap: pick two.
  </p>
  <hr/>
  <div>
    <div id="social">
      {% include social.html %}
    </div>
    <div id="search">
      <form class="search" action="http://www.google.com/cse" method="GET" id="cse-search-box">
        <p>
          <input type="hidden" name="cx" value="partner-pub-2492309352157830:gc6ww1-lena" />
          <input type="hidden" name="ie" value="ISO-8859-1" />
          <input class="textbox" type="text" name="q" size="15" />
          <input class="button"  type="submit" name="sa" value="Search" />
        </p>
      </form>
      <script type="text/javascript"
              src="http://www.google.com/coop/cse/brand?form=cse-search-box&amp;lang=en"></script>  
    </div>
  </div>
</nav>
