<nav>
  <a href="/">
    <img src="/logo.jpg" id="logo" alt="My ubiquitous avatar" height="125" width="125" />
  </a>
  <h2>I'm {{ site.data.theme.name }}</h2>
  <hr/>
  <p align="center">
    Good, fast, cheap: pick two.
  </p>
  <hr/>
  <p align="center">
    <a href="/about/">About</a> |
    <a href="/now/">Now</a> | 
    <a href="/chris_winters_resume.pdf">Resume</a>
  </p>
  <hr/>
  <div>
    <div id="social">
      {% include social.html %}
    </div>
    <div id="search">
      <script>
      (function() {
         var cx = '009478117523940786366:qr_pqmsmycc';
         var gcse = document.createElement('script');
         gcse.type = 'text/javascript';
         gcse.async = true;
         gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                      '//cse.google.com/cse.js?cx=' + cx;
         var s = document.getElementsByTagName('script')[0];
         s.parentNode.insertBefore(gcse, s);
       })();
       </script>
      <gcse:searchbox-only></gcse:searchbox-only>
    </div>
  </div>
</nav>
